  <div class="text-center">
      <h1>私の読書備忘録</h1>
      <p>読んだ本を記録</p>
      <p>同じ本の感想を共有</p>
      <p>お気に入り登録機能</p>
      <p>日々の読書の備忘録<br>My Book Memorandum</p>
      
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-primary' %>
  </div>
  
  <div class="conteainer">
      <h2>使い方</h2>
        <div class="row">
          <div class="col-md-4"><p>・読書備忘録を登録</p></div>
          <div class="col-md-4"><p>・読書備忘録を表示</p></div>
          <div class="col-md-4"><p>・読書備忘録を共有</p></div>
    </div>
  </div>
  
  <div class="text-center">
    <%= link_to '私の読書備忘録を始める', signup_path, class: 'btn btn-primary' %>
  </div>
